####
# Summary: Files ignored from source control
#
# Author: Vapurrmaid <vapurrmaid@gmail.com>
#
# Copyright (C) 2018 kevinmarley.ca <vapurrmaid@gmail.com>
# This code can be freely viewed and forked as per the GitHub
# terms of service. However, it may not be modified or distributed.
# The members of {@link https://github.com/KevinMarley} hold the sole rights
# for contribution and modification.
####

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
vim.*

# Photoshop Files
*.psd

# Local Files for Uploading Into The Repo Issues etc
.uploads/

